<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	Hi,
  	<p>
  		<%=@user.name%> has shared his profile with you. Please click on the following URL to visit his profile.
  	</p>
  	<p>
  		<%= @url %>
  	</p>

  </body>
</html>