<style type="text/css">
  input[type="submit"] { display: none; }
</style>


<h1>Transaction (Cash From Client)</h1>
<br>

<%= render 'form' %>

<div id="invoices" class="modal fade col-xs-10"  role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content col-xs-12 modal-lg" style="width: 157%;">
      <div class="modal-header">
        <h3>Select Invoice</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <table class="table table-hover" id="client_invoice">
          <thead>
          <tr>
            <th >Invoice Num</th>
            <th >Reference</th>
            <th >Amount</th>
            <th >Transaction Amount</th>
            <th >Last Paid</th>
            <th >Due Date</th>
            <th >Total Paid</th>
            <th >Notes</th>
          </tr>
          </thead>

          <tbody>
          </tbody>

        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
  $(function() {
    $(".tdate").datepicker({ dateFormat: 'mm-dd-yy' }).datepicker("setDate", new Date());
    $(".ddate").datepicker({ dateFormat: 'mm-dd-yy' }).datepicker("setDate", new Date(Date.now() + (30 * 24 * 60 * 60 * 1000)));
  });
</script>