// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.view-load-more {
  cursor: pointer;
}

input.search_field {
  float: right;
  width: 221px;
  border: #000 1px solid;
  padding: 4px 0 4px 10px;
}
.btn-search {
  display: none;
}